body {
  background-color: #d6e2e9;
}

h1 {
  font-style: italic;
  font-size: 3.5rem;
}

h4 {
  margin-top: 30px;
}

.inp {
  width: 300px;
}

.inp1 {
  width: 350px;
  margin-bottom: 10px;
}

.btn {
  width: 350px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  width: 350px;
}
